In [48]:
import pandas as pd
import numpy as np

In [54]:
data = pd.read_csv('Mountains.csv', delimiter=",")

In [50]:
pivot_data = pd.pivot_table( data, index = ['Parent mountain'], values = 'Mountain', aggfunc = np.count_nonzero )

In [51]:
pivot_data_df = pd.DataFrame(pivot_data)
pivot_data_df.reset_index(inplace = True)

In [52]:
mask = (pivot_data_df.Mountain > 3)

In [53]:
pivot_data_df.loc[ mask ]

   Parent mountain  Mountain
4          Cho Oyu         7
7       Dhaulagiri         4
10   Distaghil Sar         5
13    Gasherbrum I         8
18              K2         5
20   Kangchenjunga         7
32   Mount Everest         9
41   Shisha Pangma         4